@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    box-sizing: border-box;
}

body,
html {
    font-family: 'Karla', sans-serif;
    background-color: #E6EFF5;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #fff;
}

body,
html,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    font-size: 14px;
    letter-spacing: -0.18px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.75;
    text-decoration: none;
}

p {
    letter-spacing: -0.2px;
    line-height: 26px;
}

h1,
h2 {
    font: weight 700;
}


h2 {
    font-size: 18px;
    letter-spacing: -0.23px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 32px;
}

.price-component {
    margin: auto 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 15px 30px 0 rgba(0, 81, 171, 0.15);
}

.price-community,
.price-subscription,
.price-why-us {
    padding: 40px;
}

/* PRICE COMMUNITY */

.price-community {
    background-color: #FFFFFF;
}

.price-community h1 {
    font-size: 24px;
    line-height: 28px;
    color: #2AB3B1;
    letter-spacing: -0.3px;
}

.price-community h2 {
    color: #C0DF33;
    margin: 24px 0 10px 0;
}

.price-community p {
    color: #9AA7BE;
    line-height: 26px;
}

/* PRICE FOOTER */

.price-footer {
    display: flex;
}

.price-footer>article {
    flex: 1;
}

/* PRICE SUBSCRIPTION */

.price-subscription {
    background-color: #2AB3B1;
}

.price-subscription .price {
    display: flex;
    align-items: center;
    margin: 17px 0 4px 0;
}

.price-subscription .price-dollar {
    font-weight:700;
    font-size: 32px;
    letter-spacing: -0.4px;
}

.price-subscription .price span+span {
    margin-left: 12px;
    letter-spacing: -0.2px;
    opacity: 0.5;
}

.price-subscription button {
    display: block;
    width: 100%;
    margin: 26px 0 0 0;
    padding: 15px;
    border-radius: 5px;
    font-weight:700;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: -0.2px;
    background-color: #C0DF33;
    border: 0;
    outline: none;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

/* PRICE WHY US */

.price-why-us {
    background-color: #4BBFBD;
}

.price-why-us ul {
    margin-top: 17px;
}

@media screen and (max-width:576px) {

    .container {
        height: 100%;
        margin: 20px auto;
    }

    .price-component {
        border-radius: 5px;
    }

    .price-community,
    .price-subscription,
    .price-why-us {
        padding: 24px;
    }

    .price-community h1 {
        font-size: 20px;
        line-height: 23px;
        color: #2AB3B1;
        letter-spacing: -0.25px;
    }

    .price-community h2 {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.19px;
        margin: 24px 0 16px 0;
    }

    .price-footer {
        display: block;
    }
}